{% extends 'base.html'%}
{% block content %}    
    <div class="form">
        <form class="register" action="post">{% csrf_token %}
            <h1>Register Account</h1>
            <input type="email" class="email" placeholder="Email address" required>
            <input type="text" class="username" placeholder="Username" minlength="4" maxlength="12" autocomplete="on" required>
            <input type="password" class="password1" placeholder="Password" minlength="6" autocomplete="new-password" required>
            <input type="password" class="password2" placeholder="Confirm Password" required>

            {% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>
				{% endif %}
            
            <button>Sign Up</button>
            <p class="message">Already registered? 
                <a href="#">Sign In</a>
            </p>
        </form>
        <form class="login" action="post">{% csrf_token %}
            <h1>Account Login</h1>
            <input type="email" class="email" placeholder="Email address" required>
            <input class="password1" type="password" placeholder="Password" minlength="6" autocomplete="current-password" required>
            <button>Log In</a></button>
            <p class="message">Not registered? 
                <a href="#">Create an account</a>
            </p>
        </form>
    </div>
{% endblock content %}
    