{% extends 'base.html'%}
{% block content %}    
    <div class="form">
        <form class="register" method="post">{% csrf_token %}
            <h1>Register Account</h1>
            <input type="email" class="email" placeholder="Email address" required>
            <input type="text" class="username" placeholder="Username" minlength="4" maxlength="25" autocomplete="on" required>
            <input type="password" class="password1" placeholder="Password" minlength="4" autocomplete="new-password" required>
            <input type="password" class="password2" placeholder="Confirm Password" required>

            {% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>

				{% endif %}
            
            <button type="submit">Sign Up</button>
            <p class="message">Already registered? 
                <a href="{% url 'login' %}">Sign In</a>
            </p>
        </form>
    </div>
{% endblock content %}
    